* {
    padding: 0px;
    margin: 0px;
}

html {
    height: 500vh;
    /* Para Fazer a barra de rolagem */
}

#header {
    border: 1px solid white;
    height: 100vh;
    background-image: url(/human-hand-typing-computer-keyboard-night-generated-by-ai.jpg);
    background-size: cover;
    /* Ajusta o tamanho da imagem para cobrir todo o cabeçalho */
    background-position: center;
    /* Centraliza a imagem */

}

.flex {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

#Logo {
    width: 150px;
    height: auto;
    position: relative;
    bottom: 6px;
}