* {
    padding: 0px;
    margin: 0px;
}

html {
    height: 500vh;
    /* Para Fazer a barra de rolagem */
}

.conteiner {
    max-width: 1280px;
    margin: auto;
}


#header {
    height: 100vh;
    background-image: url("/img/clean\ yellow23.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.flex {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

#tema,
#lingua {
    max-width: 40px;
    max-height: 40px;
    margin: 20px;
}

.texth1 {
    text-align: center;
    margin: 30px;
}